@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .heading1{
        @apply bg-gradient-to-r from-purple-600 via-pink-600 to-blue-600 bg-clip-text text-transparent;
    }
   .active{
    @apply bg-white/50 dark:bg-white/20 max-sm:dark:bg-black/20 ;
   }
    .gradient-light{
        @apply bg-gradient-to-r from-indigo-200 via-red-200 to-yellow-100
    }
    .gradient-dark{
        @apply bg-gradient-to-br from-darkBg  to-darkBg 
    }
}
::-webkit-scrollbar {
    width: 6px;
    
  }
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }